.cell {
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid #0066cc;
  border-radius: 50%;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.piece {
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}
